html{
    background-color: black;
    color:white;
}
#wrapper {
    position:relative;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #9e46c7;
    color:white;
        }
#header { background-color: #9e46c7;
color:black;
border-style: solid;
        border-color: black;
}

nav { float: left;  
     width: 200px;
      padding: 10px;
      border-style: solid;
    background-color: #9e46c7;
    color:white;}
     
main {
       margin-left: 100px;
       padding: 10px;
       background-color:  #9e46c7;
       text-align: center;
       color:white;
        }

#footer { text-align: center;
          font-style: italic;
          background-color: #ffffff;
          color:white; }
img{
    margin-right: 70px;
}
h2{
    color:orange;
}
#title{
    padding-left: 10px;
    color:white;
    border-style: solid;
        border-color: black;
       
}
#logo{
    position:absolute;
    left:50%;
    margin-right:10px;
   
   
   
}
#title img{
    position:absolute;
    top:2%;
    right:0%;
}